@import "tailwindcss";
<<<<<<< HEAD
@import "./variables.css";
@tailwind utilities;

button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
=======
@tailwind utilities;
>>>>>>> 923e708aa6b9574452fd6aed39795d6c8958e266
