#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  min-width: 0; /* 모바일에서 강제 스크롤 방지 */
  min-height: 100vh;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
